<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN7XjU38ykbhPBHc1JyvNB-3Z7z4g4iDU</string>
	<key>GCM_SENDER_ID</key>
	<string>21707658865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tony.Tunexa</string>
	<key>PROJECT_ID</key>
	<string>ios-tunexa</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tunexa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21707658865:ios:4da1a8c7eb1c8c1792edd0</string>
</dict>
</plist>