<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWOutcH2fEFMYncE4-u43DjJ9NnhifpOY</string>
	<key>GCM_SENDER_ID</key>
	<string>43696833298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tony.Tunexa</string>
	<key>PROJECT_ID</key>
	<string>tunexa-e3798</string>
	<key>STORAGE_BUCKET</key>
	<string>tunexa-e3798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43696833298:ios:a4d32812b19de88348a9cb</string>
</dict>
</plist>